@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}

.page {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  height: 100vh;
  background-color: #fff;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
