.header {
  margin: 0;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 123px;
  position: fixed;
  max-width: 1120px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 1000;
}
