.intro__image {
  object-fit: cover;
  width: 418px;
  height: 418px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.intro__image:hover {
  cursor: pointer;
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

