.header__links_reality {
  font-family: 'Futura New Demi';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0em;
  text-decoration: none;
  color: black;
  transition: .2s;
}

.header__links_reality:hover {
  opacity: 0.8;
  color: black;
  text-shadow: #fecea8 1px 0 10px;
  font-size: 16px;
}

@media screen and (max-width: 509px) {
  .header__links_reality {
    font-size: 12px;
  }
}
